html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "PT Sans", Helvetica, Arial, sans-serif
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/*CLEARFIX*****************************************/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**************************************************/
.container{
    background: #FFF;
}
/*BODY STYLE***************************************/
body {
    background: #FFF;
}

.main-wrap {
    min-width: 545px;
    display: table;
    width: 100%;
}

/**************************************************/

/*PANE STYLE***************************************/
.pane {
    background: #f2f2f2;
    padding-left: 12px;
}

.pane__a {
    color: #4485cf;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}

.pane__a_position {
    margin: 0 10px;
}

.pane__a:hover {
    text-decoration: underline;
}

/**************************************************/
.promo{
    text-align: center;
    height: 163px;
    width: 186px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #616d84;
    display: block;
    padding: 28px 32px;
}
.promo__header{
    display: inline-block;
    font-weight: 900;
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    background-position: left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 12px;
    word-spacing: 0;
    line-height: 1.3em;
}
.promo__info{
    text-align: center;
    color: #a7b3cb;
    font-size: 14px;
    line-height: 1.5em;
}
.promo__button{

}
/*HEADER*******************************************/
.header {
    width: 100%;
    height: 65px;
    display: block;
    background: #4f5a6e;
}

.header__left {
    height: 65px;
    width: 250px;
    display: inline-block;
    background: #424b5f;
}

.header__left_position {
    float: left;
}

.header__search {
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin-left: 250px;
    margin-right: 300px;
    background: #4f5a6e;
}

.header__right {
    display: table;
    width: 299px;
    border-left: #424b5f 1px solid;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;
}

.header__right_position {
    float: right;
}

.header__left_menu-ham {
    width: 65px;
    height: 65px;
    display: inline-block;
    background-image: url("icon_ham.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.header__left_menu-ham:hover {
    background-color: #64728c;
}

.header__left_logo {
    font-size: 24px;
    display: table;
    float: right;
    margin-right: 85px;
    margin-top: 20px;
    width: 80px;
    line-height: 1em;
}

.header__icon-logo {
    fill: #FFF;
    width: 100%;
    height: 100%;
    margin-top: 3px;
}

/**************************************************/

/*GREEN BUTTON****************************************/
.green-btn {
    background-color: #65c178;
    border-radius: 5px;
    text-align: center;
    padding: 11px 37px 12px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1em;
}

.green-btn_position {
    margin-top: 14px;
}

.green-btn:hover {
    background-color: #50a062;
    text-decoration: none;
}

.green-btn_specify{
    padding: 8px 20px;
    margin-top: 20px;
}

/*GREEN BUTTON****************************************/

/*NAVBAR**********************************************/
.nav-bar {
    width: 250px;
    height: 100vw;
    display: block;
    background: #4f5a6e;
}

.nav-bar__login {
    width: 250px;
    height: 64px;
    border-bottom: #485265 1px solid;
}

.nav-bar__menu {
    width: 250px;
}

.nav-bar__link {
    width: 195px;
    display: inline-block;
    font-weight: 900;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    background-position: left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    line-height: 1.35em;
}

.nav-bar__login a:hover {
    text-decoration: underline;
}

.link_brightness {
    color: #a7b3cb;
}

.link_brightness:hover {
    text-decoration: underline;
    color: #fff;
}

.nav-bar__a_login-position {
    margin-left: 20px;
    margin-top: 13px;
}

.nav-bar__a_login-image {
    background-image: url("icon_lock.png");
}

.nav-bar__block-login {
    background: image("icon_lock.png");
    background-size: 20px 20px;
    width: 100%;
    display: inline;
}

.nav-bar__link_position {
    float: left;
    margin-left: 20px;
}

.nav-bar__link_all-questions-image {
    background-image: url("icon_list.png");
}

.nav-bar__link_all-tags-image {
    background-image: url("icon_tag.png");
}

.nav-bar__link_all-users-image {
    background-image: url("icon_group.png");
}

.link_ext-size {
    font-size: 15px;
}

/*NAVBAR**********************************************/

.page-header {
    display: inline-block;
}

.main_title {
    font-size: 100%;
    font-family: sans-serif;
    font-weight: 700;
    color: #FFF;
    display: inline;
    line-height: 1em;
}

.nav-bar_position {
    float: left;
}

.man_menu_item {
    margin-top: 9px;
    display: block;
    margin-bottom: 21px;
}

.man_menu_item a:hover {
    text-decoration: underline;
    color: #fff;
}

.nav_menu_item {
    display: block;
}

/*QUESTIONS BAR***************************************/
.questions-bar {
    width: 260px;
    height: 100vw;
    background: #EDEFF3;
    display: block;
    float: right;
    align-content: center;
    padding: 0 20px;
}

.questions-bar__question {
    border-bottom: #dae1e8 1px solid;
    padding-bottom: 16px;
}

.questions-bar__a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    font-family: 'PT Sans', Arial, sans-serif;
    line-height: 1.4;
    display: block;
}

.questions-bar__header {
    color: #333333;
    text-decoration: none;
    display: block;
    padding-top: 18px;
    border-bottom: 1px #dae1e8 solid;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 13px;
    font-family: 'PT Sans', Arial, sans-serif;
    line-height: 1em;
}

.questions-bar__question_position {
    margin-top: 11px;
}

.questions-bar__info-item {
    display: inline-block;
    color: #a8b1ba;
    font-size: 14px;
    line-height: 1em;
}

.questions-bar__info-container {
    display: block;
    width: 100%;
}

.questions-bar__list {
    list-style: none;
}

.questions-bar a:hover {
    text-decoration: underline;
}

.questions-bar__info-item_after:after {
    content: '\2022';
    color: #c8ced4;
    font-size: 10px;
    position: relative;
    top: -1px;
    left: 0;
    margin: 2px;
    line-height: 1em;
}

/*QUESTIONS BAR***************************************/

/*******************************************/
.question__info {
    padding-top: 1px;
}

/*************************************************/

/*PAGE***************************************/
.page {
    display: block;
    padding: 23px 30px;
    max-width: 1200px;
    margin-left: 250px;
    margin-right: 300px;
}

.question {
    background: #FFF;
    display: block;
    width: 100%;
    border-bottom: 1px #EFEFEF solid;
    padding-bottom: 32px;
}

/*Answers***************************************/
.answers {
    display: table;
    text-align: center;
    padding-left: 30px;
}

.answers_position {
    margin-top: 24px;
    float: right;
}

.answered-text {
    display: inline-block;
    color: #65c178;
    text-decoration: none;
}

.answered-image {
    background: url("icon_answered.png");
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    text-align: right;
    text-decoration: none;
}

.answered-text_bold {
    font-size: 20px;
    font-weight: 900;
    line-height: 1em;
}

.answers-wrap {
    display: table;
    text-align: center;
}

/*Answers***************************************/


.question-title {
    font-size: 21px;
    font-weight: 700;
    color: #000;
    display: block;
    margin-top: 9px;
    text-decoration: none;
    line-height: 1em;
    margin-bottom: 3px;
}

.question-title:hover {
    color: #2d72d9;
    text-decoration: underline;
}

.question_inf {
    margin-top: 5px;
    display: inline-block;
}

.question-complexity {
    font-weight: 900;
    font-size: 13px;
    color: #898D92;
    line-height: 1em;
}
.question-complexity_position{
    margin-left: 3px;
}

.footer {
    width: 100%;
    background: #4E5467;
    height: 60px;
    align-content: baseline;
}

/*ALL QUESTIONS******************************/
.all-questions {
    display: table;
}

/*ALL QUESTIONS******************************/

/*FILTERS************************************/
.questions-filters {
    display: block;
}

.border_horizontal {
    border-left: none;
    border-top: 1px solid rgba(217, 217, 217, 0.54);
    border-bottom: 1px solid rgba(217, 217, 217, 0.54);
    border-right: none;
}

.colored_border:hover {
    border: 1px solid #2d72d9;
    border-radius: 2px;
}

.colored_text:hover {
    color: #2d72d9;
}

.button-border-right {
    border-left: 1px solid rgba(217, 217, 217, 0.54);
}

.questions-filters__list {
    display: inline;
}

.questions-filters_position {
    margin-top: 19px;
    margin-left: 1px;
}

.filters-wrap {
    border-radius: 2px;
    border: 1px solid rgba(217, 217, 217, 0.54);
    display: inline-block;
}

.f__button {
    border: 1px solid #ffffffff;
    padding: 12px 13px;
    font-size: 13px;
    display: inline-block;
    font-weight: 900;
    color: #4F6173;
    text-decoration: none;
    word-spacing: 0;
    line-height: 1em;
}

.filter-button {
    display: inline-block;
    padding: 10px 10px;
    background: white;
    border: 1px solid rgba(217, 217, 217, 0.54);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 900;
    color: #4F6173;
    height: 41px;
    line-height: 1.5em;
}

.svg-icon_filter-level {
    height: 16px;
    display: block;
    float: left;
    border-right: 1px solid rgba(217, 217, 217, 0.54);
    padding-right: 8px;
    margin-right: 8px;
    margin-top: 1px;
    fill: #4F6173;
}

.display_inline-block {
    display: inline-block;
}

.filter-button_position {
    margin-left: 10px;
}

.f__button:hover {
    color: #4A70BE;
    text-decoration: none;
}

.full-border {
    border: 1px solid rgba(217, 217, 217, 0.54);
}

.filter-button_hover:hover svg {
    fill: #4A70BE;
}

.filter-button_hover:hover {
    border: 1px solid #4A70BE;
    color: #4A70BE;
}

/*FILTERS*************************************/

/*QUESTION************************************/
.question-tags {
    display: block;
    text-align: left;
}

.tag-image-link {
    width: 16px;
    height: 16px;
    background: url("https://habrastorage.org/r/w32/webt/5b/56/5e/5b565e56b5c76568131154.png");
    display: inline-block;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
.question_position{
    margin-top: 28px;
}

.tag-image-link_position {
    margin-right: 5px;
}

.tag {
    display: inline-block;
    color: #996FD5;
    text-decoration: none;
    font-weight: 900;
    font-size: 12px;
    line-height: 1em;
}

.tag:hover {
    text-decoration: underline;
}

.tag-icon_green {
    fill: #98BC4D;
}

.tag-icon_orange {
    fill: #D8A326;
}

.tag-icon_red {
    fill: #D9382E;
}

.tag-icon_position {
    margin-left: 5px;
}

.question-info {
    display: inline-block;
    color: #a8b1ba;
    font-size: 13px;
    line-height: 1em;
}

.question-info_after:after {
    content: '\2022';
    color: #c8ced4;
    font-size: 10px;
    position: relative;
    top: -1px;
    left: 0;
    margin-left: 4px;
    line-height: 1em;
}
.info-container{
    display: inline-block;
}
.info-container_position{
    margin-top: 2px;
}

/*QUESTION************************************/
.btn_text {

}

.btn_text:hover {
    color: #4A70BE;
}

.btn:hover {
    text-decoration-color: #4A70BE;
}

.header__input-search {
    width: 100%;
    background: #424b5f;
    border: 0;
    border-radius: 5px;
    color: #a7b3cb;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 37px;
    line-height: 1.5em;
    display: inline;
    margin-top: 15px;
    text-align: start;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    outline: none;
}

.header__input-search::placeholder {
    text-align: center;
    color: #a7b3cb;
    font-size: 13px;
    line-height: 1em;
}

.inner_header {
    width: 100%;
    display: inline-table;
}

.ham_area {
    width: 65px;
    height: 65px;
    align-items: center;
}

.page-header {

}

.page-h1 {
    white-space: nowrap;
    color: #333;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*PLUS BUTTON***********-********************************/
.header__plus-button {
    width: 64px;
    height: 64px;
    border-left: #424b5f 1px solid;
    display: table;
    text-align: center;
}
.header__plus-button_hover:hover{
    background-color: #64728c;
}
.header__plus-button_position {
    float: right;
}

.header__plus-button img {
    display: inline-block;
    width: 28px;
    height: 29px;
    padding: 16px;
}
/*PLUS BUTTON***********-********************************/

@media (max-width: 1200px) {
    .nav-bar {
        display: none;
    }

    .promo{
        display: none;
    }
    .page {
        margin-left: 0;
    }
}

@media screen and (min-width: 1201px) {
    .nav-bar {
        display: block;
    }

    .promo{
        display: block;
    }
    .page {
        margin-left: 250px;
    }
}

@media (max-width: 1024px) {
    .page {
        margin-right: 0;
    }

    .questions-bar {
        display: none;
    }

    .header__right {
        display: none;
    }

    .header__search {
        margin-right: 65px;
    }

    .header__plus-button {
        display: table;
    }
}

@media screen and (min-width: 1025px) {
    .questions-bar {
        display: block;
    }

    .header__right {
        display: table;
    }

    .header__search {
        margin-right: 300px;
    }

    .header__plus-button {
        display: none;
    }
}
