html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "PT Sans", Helvetica, Arial, sans-serif
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/*CLEARFIX*****************************************/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**************************************************/

/*BODY STYLE***************************************/
body {
    background: #FFF;
}

.main-wrap {
    min-width: 545px;
}

/**************************************************/

/*PANE STYLE***************************************/
.pane {
    background: #f2f2f2;
    padding-left: 12px;
}

.pane__a {
    color: #4485cf;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}

.pane__a_position {
    margin: 0 10px;
}

.pane__a:hover {
    text-decoration: underline;
}

/**************************************************/

/*HEADER*******************************************/
.header {
    width: 100%;
    height: 65px;
    display: block;
    background: #4f5a6e;
}

.header__left {
    height: 65px;
    width: 250px;
    display: inline-block;
    background: #424b5f;
}

.header__left_position {
    float: left;
}

.header__search {
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin-left: 250px;
    margin-right: 300px;
    background: #4f5a6e;
}

.header__right {
    display: table;
    width: 299px;
    border-left: #424b5f 1px solid;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;
}

.header__right_position {
    float: right;
}

.header__left_menu-ham {
    width: 65px;
    height: 65px;
    display: inline-block;
    background-image: url("menu_ham.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.header__left_menu-ham:hover {
    background-color: #64728c;
}

.header__left_logo {
    font-size: 24px;
    display: table;
    float: right;
    margin-right: 85px;
    margin-top: 20px;
    width: 80px;
}

.header__icon-logo {
    fill: #FFF;
    width: 100%;
    height: 100%;
}

/**************************************************/

/*GREEN BUTTON****************************************/
.green-btn {
    background-color: #65c178;
    border-radius: 5px;
    text-align: center;
    padding: 9px 37px 10px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.green-btn_position {
    margin-top: 14px;
}

.green-btn:hover {
    background-color: #50a062;
    text-decoration: none;
}

/*GREEN BUTTON****************************************/

/*NAVBAR**********************************************/
.nav-bar {
    width: 250px;
    height: 800px;
    display: block;
    background: #4f5a6e;
}

.nav-bar__login {
    width: 250px;
    height: 64px;
    border-bottom: #485265 1px solid;
}

.nav-bar__menu {
    width: 250px;
}

.nav-bar__a {
    width: 195px;
    display: inline-block;
    font-weight: 900;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    background-position: left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
}

.nav-bar__login a:hover {
    text-decoration: underline;
}

.nav-bar__a_brightness {
    color: #a7b3cb;
}

.nav-bar__a_brightness:hover {
    text-decoration: underline;
    color: #fff;
}

.nav-bar__a_login-position {
    margin-left: 20px;
    margin-top: 13px;
}

.nav-bar__a_login-image {
    background-image: url("padlock.png");
}

.nav-bar__block-login {
    background: image("padlock.png");
    background-size: 20px 20px;
    width: 100%;
    display: inline;
}

.nav-bar__a_item-position {
    float: left;
    margin-left: 20px;
}

.nav-bar__a_item-all-questions-image {
    background-image: url("clipboards.png");
}

.nav-bar__a_item-all-tags-image {
    background-image: url("tag.png");
}

.nav-bar__a_item-all-users-image {
    background-image: url("group.png");
}

.nav-bar__a_ext-size {
    font-size: 15px;
}

/*NAVBAR**********************************************/

.page-header {
    display: inline-block;
}

.main_title {
    font-size: 100%;
    font-family: sans-serif;
    font-weight: 700;
    color: #FFF;
    display: inline;
}

.nav-bar_position {
    float: left;
}

.man_menu_item {
    margin-top: 9px;
    display: block;
    margin-bottom: 21px;
}

.man_menu_item a:hover {
    text-decoration: underline;
    color: #fff;
}

.nav_menu_item {
    display: block;
}

.question_tags {
    padding-top: 28px;
}

/*QUESTIONS BAR***************************************/
.questions-bar {
    width: 260px;
    height: 800px;
    background: #EDEFF3;
    display: block;
    float: right;
    align-content: center;
    padding: 0 20px;
}

.questions-bar__question {
    border-bottom: #dae1e8 1px solid;
    padding-bottom: 16px;
}

.questions-bar__a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    font-family: 'PT Sans', Arial, sans-serif;
    line-height: 1.4;
}

.questions-bar__header {
    color: #333333;
    text-decoration: none;
    display: block;
    padding-top: 16px;
    border-bottom: 1px #dae1e8 solid;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 11px;
    font-family: 'PT Sans', Arial, sans-serif;
}

.questions-bar__question_position {
    margin-top: 11px;
}

.questions-bar__info-item {
    display: inline-block;
    color: #a8b1ba;
    font-size: 14px;
}

.questions-bar__info-container {
    display: block;
    width: 100%;
}

.questions-bar__list{
    list-style: none;
}

.questions-bar a:hover {
    text-decoration: underline;
}

.questions-bar__info-item_after:after{
    content: '\2022';
    color: #c8ced4;
    font-size: 10px;
    position: relative;
    top: -1px;
    left: 2px;
    margin: 2px;
}

/*QUESTIONS BAR***************************************/

/*******************************************/
.question__info {
    padding-top: 1px;
}

/*************************************************/


/*PAGE***************************************/
.page {
    display: table;
    padding: 23px 30px;
}

.question {
    width: 92%;
    background: #FFF;
    display: inline-table;
    border-bottom: 1px #EFEFEF solid;
    margin-left: 30px;
    padding-bottom: 28px;
    margin-right: 30px;
}

.answers {
    float: right;
    margin-top: 50px;
    display: table;
    text-align: center;
    padding-left: 30px;
}

.answers h1 {
    font-weight: 900;
    font-size: 20px;
    color: #B0B8C0;
}

.answers h2 {
    font-size: 14px;
    color: #B0B8C0;
}

.question p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: #555;
    display: block;
    margin: 10px 0;
}

.question_title {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: #000;
    display: block;
    margin-top: 5px;
    text-decoration: none;
}

.question_title:hover {
    color: #4864b0;
    text-decoration: underline;
}

.question_inf {
    margin-top: 5px;
    display: inline-block;
}

.question_complexity {
    font-weight: 900;
    font-size: 12px;
    color: #a1a1a1;
    margin-left: 5px;
}

.footer {
    width: 100%;
    background: #4E5467;
    height: 60px;
    align-content: baseline;
}

/*ALL QUESTIONS******************************/
.all-questions {
    display: table;
}

/*ALL QUESTIONS******************************/

.questions-filters__buttons{
    display: inline-block;
    word-spacing: 0;
}
.questions-filters{

}
.questions-filters_position{
    margin-top: 20px;
}

.questions-filters a {
    padding: 13px;
    font-size: 12px;
    border: 1px solid rgba(217, 217, 217, 0.54);
    display: block;
    border-radius: 3px;
    font-weight: 900;
    color: #424b5f;
    text-decoration: none;
}

.questions-filters a:hover {
    color: #4A70BE;
    text-decoration: none;
}

.questions-filters button {
    margin-left: 12px;
    padding: 11px;
    display: inline-block;
    background: white;
    border: 1px solid rgba(217, 217, 217, 0.54);
    border-radius: 3px;
    font-weight: 700;
    color: #424b5f;
    text-decoration: none;
    font-size: 12px;
}

.question_tags {
    display: table;
}

.question_tags a {
    display: inline-block;
    margin-right: 10px;
}

.questions-filters button {
    display: inline-block;
    float: right;
}

.tag_image {
    width: 14px;
    height: 14px;
}

.tag_t {
    color: #996FD5;
    text-decoration: none;
    font-weight: 900;
    font-size: 13px;
}

.tag_t:hover {
    text-decoration: underline;
}

.btn_text {
    margin-left: 12px;
}

.btn_text:hover {
    color: #4A70BE;
}

.btn:hover {
    text-decoration-color: #4A70BE;
}

.header__search_input-search {
    width: 100%;
    background: #424b5f;
    border: 0;
    border-radius: 5px;
    color: #a7b3cb;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 37px;
    line-height: 1.5em;
    display: inline;
    margin-top: 15px;
    text-align: start;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    outline: none;
}

.header__search_input-search::placeholder {
    text-align: center;
    color: #a7b3cb;
    font-size: 13px;
}

.inner_header {
    width: 100%;
    display: inline-table;
}

.ham_area {
    width: 65px;
    height: 65px;
    align-items: center;
}

.page-header{

}
.page-h1{
    white-space: nowrap;
    color: #333;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__plus-button {
    width: 64px;
    height: 64px;
    border-left: #424b5f 1px solid;
    display: table;
    text-align: center;
}

.header__plus-button_position {
    float: right;
}

.header__plus-button img {
    display: inline-block;
    width: 28px;
    height: 29px;
    padding: 16px;
}

@media (max-width: 1200px) {
    .nav-bar {
        display: none;
    }
}

@media screen and (min-width: 1201px) {
    .nav-bar {
        display: block;
    }
}

@media (max-width: 1024px) {
    .questions-bar {
        display: none;
    }

    .header__right {
        display: none;
    }

    .header__search {
        margin-right: 65px;
    }

    .header__plus-button {
        display: table;
    }
}

@media screen and (min-width: 1025px) {
    .questions-bar {
        display: block;
    }

    .header__right {
        display: table;
    }

    .header__search {
        margin-right: 300px;
    }

    .header__plus-button {
        display: none;
    }
}
