.answered-text {
    display: inline-block;
    color: #65c178;
    text-decoration: none;
}

.answered-image {
    background: url("../images/icon_answered.png");
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 23px;
    text-align: right;
    text-decoration: none;
}

.answered-text_bold {
    font-size: 20px;
    font-weight: 900;
    line-height: 1em;
}