

.main_title {
    font-size: 100%;
    font-family: sans-serif;
    font-weight: 700;
    color: #FFF;
    display: inline;
    line-height: 1em;
}

.filter-button__text:hover {
    color: #4A70BE;
}
