
.page-header {
    display: inline-block;
    white-space: nowrap;
    color: #333;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    display: block;
    padding: 23px 30px;
    max-width: 1200px;
    margin-left: 250px;
    margin-right: 300px;
}
